.button_container {
  background-color: var(--primary);
  border-radius: 20px;
  display: inline-block;
}

.button_container.outline {
  background-color: transparent;
}

.button_container.download {
  background-color: var(--grey-900);
}

.button_container:not(:has(.withText)) {
  border-radius: 24px;
}

.button {
  box-sizing: border-box;
  color: var(--grey-900);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border: none;
  background-color: transparent;
  display: inline-flex;
  align-items: center;
}

.withText {
  height: 40px;
  padding: 0 24px;
  padding-left: 16px;
  border-radius: 20px;
}

.iconOnly {
  width: 48px;
  height: 48px;
  padding: 0;
  border-radius: 24px;
  align-items: center;
  justify-content: center;
}

.button:not(:disabled):hover {
  background-color: rgb(255 255 255 / 0.15);
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 0.2);
  cursor: pointer;
}

.button:active:enabled {
  background-color: var(--primary-dark);
}

.outline {
  .button {
    border: 1px solid var(--grey-600);
  }

  .button:not(:disabled):hover {
    background-color: rgb(224 221 220 / 0.4); /* --grey-300 */
  }

  .button.pressed,
  .button:active:enabled {
    background-color: rgb(224 221 220 / 0.7); /* --grey-300 */
    border: 1px solid var(--primary);
  }
}

.download {
  .button {
    color: var(--grey-50);
  }

  .button.pressed,
  .button:active:enabled {
    background-color: var(--black);
  }
}

.button_container:has(.button:disabled) {
  background-color: var(--grey-400);
  opacity: 0.5;
}

.button_container.outline:has(.button:disabled) {
  background-color: transparent;
}

.iconBaseStyle {
  margin-right: 8px;
}

.iconOnlyStyle {
  margin: 0;
}
