.inputContainer {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50%;
}

.parentDiv {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-radius: 24px;
  border: 1px solid var(--grey-500);
  background-color: var(--grey-100);
  width: 100%;
  margin-right: 16px;
  box-sizing: border-box;
}

.parentDiv:hover {
  background-color: var(--grey-200);
}
.parentDiv:focus-within {
  background-color: var(--grey-50);
  border: 1px solid var(--grey-800);
  outline: 1px solid var(--grey-800);
}

.parentDiv:focus-within .textarea::-webkit-scrollbar {
  display: block;
}

.textarea {
  flex: 1;
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  color: var(--grey-900);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 0px 10px 0px 24px;
  resize: none;
  max-height: 110px;
  line-height: 22px;
  overflow-y: hidden;
  box-sizing: border-box;
  height: 100%;
}

.textarea::-webkit-scrollbar {
  width: 4px;
}

.textarea::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 24px;
}

.textarea::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

.textarea::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 24px;
}

textarea::placeholder {
  color: var(--grey-700);
  font-size: 16px;
  line-height: 22px;
  font-family: 'Roboto', sans-serif;
}

.uploadButton_container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: transparent;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  margin-right: 16px;
  margin-left: 10px;
  margin-top: 5px;
}

.uploadButton {
  background: transparent;
  color: var(--grey-900);
  border: none;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.uploadButton img {
  width: 24px;
  height: 24px;
}

.uploadButton:not(:disabled):hover {
  cursor: pointer;
}

.uploadButton:active {
  background-color: var(--grey-400);
}

.uploadButton_container:has(.uploadButton:disabled) {
  color: var(--grey-900);
  opacity: 0.5;
}

.uploadButton_container:has(.uploadButton:not(:disabled)):hover {
  background-color: var(--grey-300);
}

.sendButtonContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}
