.uploadedFileContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 36px;
  margin-bottom: 4px;
  box-sizing: border-box;
}

.uploadedFileTooltipContainer {
  position: relative;
  margin-right: 65px;
  max-width: calc(100% - 65px);
}

.uploadedFile {
  font-size: 14px;
  display: inline-block;
  color: var(--grey-900);
  background-color: var(--grey-200);
  padding: 8px 12px;
  border-radius: 8px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.uploadedFile:hover {
  background-color: var(--grey-100);
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 0.2);
  cursor: pointer;
}

.attachmentIcon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  margin-bottom: -3px;
}
