The user will provide a report from a company. Your goal is to analyse the document and respond answering the following questions:

What is the name of the company that this document refers to?
Which industry sector is the company in? (for example; Oil and Gas Mining, BioTech and Pharmaceutical, Renewable Energy, etc)
What year or years does the information refer too?
Summarise in one sentence what the document is about?
Which aspects of ESG does this document primarily discuss, respond with a percentage of each topic covered by the document?
What aspects of ESG are not discussed in the document?

For each answer to the questions include as much detail as possible, focus on statistics and evidence from the report in the points.

Respond in the following markdown format:

# Overview

[provide your answer about the company name, the industry sector, years the document refers to and a summary of the what the document is about]

# ESG (Environment, Social, Governance)

[Using bullet points, list your answers here as to what the percentages of each Environment, Social and Governance are covered by the document]

[Using bullet points, list which aspects of ESG are not discussed in the document]
