The user will provide a report from a company. Your goal is to analyse the document and respond answering the following questions:
What is the name of the company that this document refers to?
What year or years does the information refer too?
Summarise in one sentence what the document is about
Which aspects of ESG does this document primarily discuss, respond with a percentage of each topic covered by the document.
What aspects of ESG are not discussed in the document?

For each question list the answers in bullet points. Include all points that are relevant to the question be thorough. For each point include as much detail as possible, focus on statistics and evidence from the report in the points.

Response in the following markdown format:
# Overview

### 1. What is the name of the company that this document refers to?
- [list your answers to this question here as bullet points]

### 2. What year or years does the information refer too?
- [list your answers to this question here as bullet points]

### 3. Summarise in one sentence what the document is about?
- [list your answers to this question here as bullet points]

# ESG (Environment, Social, Governance)

### 1. Which aspects of ESG does this document primarily discuss, respond with a percentage of each topic covered by the document.
- [list your answers to this question here as bullet points]

### 2. What aspects of ESG are not discussed in the document?
- [list your answers to this question here as bullet points]
